In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# Read Degree File and Create DataFrame
Degree_File = pd.read_csv("degrees-that-pay-back.csv")
Degree_df = pd.DataFrame(Degree_File)

# Read Salaries by college type and Create DataFram
College_Type_File = pd.read_csv("salaries-by-college-type.csv")
College_Type_df = pd.DataFrame(College_Type_File)

#Read Salaries by Region file and Create DataFrame
Region_File = pd.read_csv("salaries-by-region.csv")
Region_df = pd.DataFrame(Region_File)

In [6]:
Degree_df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,"$46,000.00","$77,100.00",67.6,"$42,200.00","$56,100.00","$108,000.00","$152,000.00"
1,Aerospace Engineering,"$57,700.00","$101,000.00",75.0,"$64,300.00","$82,100.00","$127,000.00","$161,000.00"
2,Agriculture,"$42,600.00","$71,900.00",68.8,"$36,300.00","$52,100.00","$96,300.00","$150,000.00"
3,Anthropology,"$36,800.00","$61,500.00",67.1,"$33,800.00","$45,500.00","$89,300.00","$138,000.00"
4,Architecture,"$41,600.00","$76,800.00",84.6,"$50,600.00","$62,200.00","$97,000.00","$136,000.00"

In [19]:
College_Type_df

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00","$76,800.00","$99,200.00","$168,000.00","$220,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00","$66,800.00","$94,300.00","$143,000.00","$190,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",NaN,"$80,200.00","$142,000.00",NaN
5,Worcester Polytechnic Institute (WPI),Engineering,"$61,000.00","$114,000.00","$80,000.00","$91,200.00","$137,000.00","$180,000.00"
6,Carnegie Mellon University (CMU),Engineering,"$61,800.00","$111,000.00","$63,300.00","$80,100.00","$150,000.00","$209,000.00"
7,Rensselaer Polytechnic Institute (RPI),Engineering,"$61,100.00","$110,000.00","$71,600.00","$85,500.00","$140,000.00","$182,000.00"
8,Georgia Institute of Technology,Engineering,"$58,300.00","$106,000.00","$67,200.00","$85,200.00","$137,000.00","$183,000.00"
9,Colorado School of Mines,Engineering,"$58,100.00","$106,000.00","$62,200.00","$87,900.00","$142,000.00","$201,000.00"
10,Stevens Institute of Technology,Engineering,"$60,600.00","$105,000.00","$68,700.00","$81,900.00","$138,000.00","$185,000.00"
11,Illinois Institute of Technology (IIT),Engineering,"$56,000.00","$97,800.00","$56,100.00","$77,400.00","$121,000.00","$165,000.00"
12,Wentworth Institute of Technology,Engineering,"$53,000.00","$96,700.00","$55,200.00","$74,000.00","$117,000.00","$153,000.00"
13,Virginia Polytechnic Institute and State Unive...,Engineering,"$53,500.00","$95,400.00","$50,600.00","$71,400.00","$124,000.00","$163,000.00"
14,South Dakota School of Mines & Technology,Engineering,"$55,800.00","$93,400.00","$71,500.00","$81,900.00","$122,000.00","$147,000.00"
15,New Mexico Institute of Mining and Technology ...,Engineering,"$51,000.00","$93,400.00",NaN,"$67,400.00","$123,000.00",NaN
16,Rochester Institute of Technology (RIT),Engineering,"$48,900.00","$84,600.00","$45,000.00","$62,100.00","$112,000.00","$159,000.00"
17,Embry-Riddle Aeronautical University (ERAU),Engineering,"$52,700.00","$80,700.00","$49,800.00","$64,000.00","$106,000.00","$142,000.00"
18,Tennessee Technological University,Engineering,"$46,200.00","$80,000.00","$42,100.00","$62,600.00","$99,500.00","$121,000.00"
19,University of Illinois at Urbana-Champaign (UIUC),Party,"$52,900.00","$96,100.00","$48,200.00","$68,900.00","$132,000.00","$177,000.00"
20,"University of Maryland, College Park",Party,"$52,000.00","$95,000.00","$50,400.00","$68,300.00","$126,000.00","$166,000.00"
21,"University of California, Santa Barbara (UCSB)",Party,"$50,500.00","$95,000.00","$51,300.00","$71,200.00","$129,000.00","$173,000.00"
22,University of Texas (UT) - Austin,Party,"$49,700.00","$93,900.00","$50,100.00","$67,400.00","$129,000.00","$188,000.00"
23,State University of New York (SUNY) at Albany,Party,"$44,500.00","$92,200.00","$47,000.00","$63,100.00","$135,000.00","$209,000.00"
24,University of Florida (UF),Party,"$47,100.00","$87,900.00","$45,400.00","$62,900.00","$120,000.00","$172,000.00"
25,Louisiana State University (LSU),Party,"$46,900.00","$87,800.00","$43,700.00","$61,300.00","$120,000.00","$165,000.00"
26,University of Georgia (UGA),Party,"$44,100.00","$86,000.00","$43,100.00","$57,800.00","$118,000.00","$164,000.00"
27,Pennsylvania State University (PSU),Party,"$49,900.00","$85,700.00","$46,300.00","$62,000.00","$117,000.00","$160,000.00"
28,Arizona State University (ASU),Party,"$47,400.00","$84,100.00","$44,600.00","$60,700.00","$114,000.00","$163,000.00"
29,"Indiana University (IU), Bloomington",Party,"$46,300.00","$84,000.00","$43,600.00","$60,400.00","$119,000.00","$178,000.00"
...,...,...,...,...,...,...,...,...
239,University of Alabama at Birmingham (UAB),State,"$39,200.00","$70,100.00","$43,000.00","$53,400.00","$91,400.00","$125,000.00"
240,University of Memphis (U of M),State,"$41,400.00","$69,700.00","$36,100.00","$49,100.00","$93,500.00","$127,000.00"
241,Boise State University (BSU),State,"$40,800.00","$69,500.00","$37,400.00","$48,700.00","$87,500.00","$110,000.00"
242,Missouri State University (MSU),State,"$36,100.00","$69,500.00","$33,300.00","$46,900.00","$102,000.00","$134,000.00"
243,University of Wisconsin (UW) - La Crosse,State,"$42,200.00","$69,300.00","$37,500.00","$47,200.00","$93,100.00","$133,000.00"
244,Appalachian State University,State,"$40,400.00","$69,100.00","$37,200.00","$50,400.00","$90,800.00","$115,000.00"
245,Virginia Commonwealth University (VCU),State,"$42,000.00","$68,400.00","$37,400.00","$51,900.00","$100,000.00","$123,000.00"
246,University of Wisconsin (UW) - Stout,State,"$43,600.00","$68,300.00","$40,900.00","$50,600.00","$91,600.00","$136,000.00"
247,East Carolina University (ECU),State,"$40,200.00","$67,500.00","$38,400.00","$52,000.00","$98,700.00","$151,000.00"
248,Utah Valley State College,State,"$42,400.00","$67,100.00","$27,000.00","$44,100.00","$84,900.00","$110,000.00"
249,University of Missouri - St. Louis (UMSL),State,"$41,400.00","$67,100.00","$36,800.00","$49,600.00","$97,600.00","$144,000.00"
250,Western Carolina University,State,"$36,900.00","$66,600.00","$39,000.00","$49,500.00","$94,400.00","$133,000.00"
251,University of Wisconsin (UW) - Oshkosh,State,"$39,300.00","$66,400.00","$37,700.00","$49,700.00","$90,100.00","$138,000.00"
252,State University of New York (SUNY) at Fredonia,State,"$37,800.00","$66,200.00","$32,800.00","$44,200.00","$93,300.00","$181,000.00"
253,University of Missouri - Kansas City (UMKC),State,"$38,900.00","$65,800.00","$36,300.00","$48,100.00","$95,800.00","$124,000.00"
254,University of Wisconsin (UW) - Eau Claire,State,"$41,400.00","$64,800.00","$35,000.00","$47,300.00","$93,100.00","$125,000.00"
255,Ball State University (BSU),State,"$39,100.00","$64,500.00","$35,500.00","$48,200.00","$89,300.00","$128,000.00"
256,University of North Carolina at Wilmington (UNCW),State,"$37,500.00","$64,400.00","$32,100.00","$46,600.00","$97,100.00","$129,000.00"
257,University of Wisconsin (UW) - Stevens Point,State,"$39,800.00","$64,000.00","$38,400.00","$45,100.00","$95,400.00","$128,000.00"
258,University of Southern Maine,State,"$39,400.00","$63,600.00","$40,400.00","$47,900.00","$85,700.00","$117,000.00"
259,Arkansas State University (ASU),State,"$38,700.00","$63,300.00","$33,600.00","$45,300.00","$83,900.00","$118,000.00"
260,Kent State University,State,"$38,700.00","$62,600.00","$36,100.00","$45,800.00","$87,000.00","$124,000.00"
261,Tarleton State University (TSU),State,"$40,800.00","$62,400.00","$32,100.00","$47,400.00","$80,400.00","$126,000.00"
262,University of Wisconsin (UW) - Green Bay,State,"$35,800.00","$60,600.00","$35,500.00","$46,800.00","$81,800.00","$102,000.00"
263,Morehead State University,State,"$34,800.00","$60,600.00","$34,300.00","$46,500.00","$72,000.00","$91,300.00"
264,Austin Peay State University,State,"$37,700.00","$59,200.00","$32,200.00","$40,500.00","$73,900.00","$96,200.00"
265,Pittsburg State University,State,"$40,400.00","$58,200.00","$25,600.00","$46,000.00","$84,600.00","$117,000.00"
266,Southern Utah University,State,"$41,900.00","$56,500.00","$30,700.00","$39,700.00","$78,400.00","$116,000.00"
267,Montana State University - Billings,State,"$37,900.00","$50,600.00","$22,600.00","$31,800.00","$78,500.00","$98,900.00"
268,Black Hills State University,State,"$35,300.00","$43,900.00","$27,000.00","$32,200.00","$60,900.00","$87,600.00"

In [11]:
College_Type_df.count()

School Name                          269
School Type                          269
Starting Median Salary               269
Mid-Career Median Salary             269
Mid-Career 10th Percentile Salary    231
Mid-Career 25th Percentile Salary    269
Mid-Career 75th Percentile Salary    269
Mid-Career 90th Percentile Salary    231
dtype: int64

In [16]:
College_Type_df['School Name'].value_counts()

Louisiana State University (LSU)                      2
Florida State University (FSU)                        2
University of Tennessee                               2
State University of New York (SUNY) at Albany         2
University of Iowa (UI)                               2
West Virginia University (WVU)                        2
Randolph-Macon College                                2
University of Alabama, Tuscaloosa                     2
Arizona State University (ASU)                        2
University of Illinois at Urbana-Champaign (UIUC)     2
University of New Hampshire (UNH)                     2
University of Mississippi                             2
University of Georgia (UGA)                           2
University of Florida (UF)                            2
Indiana University (IU), Bloomington                  2
Ohio University                                       2
Pennsylvania State University (PSU)                   2
University of California, Santa Barbara (UCSB)        2
University of Maryland, College Park                  2
University of Texas (UT) - Austin                     2
South Dakota State University (SDSU)                  1
Stevens Institute of Technology                       1
Georgia State University                              1
Pomona College                                        1
Michigan State University (MSU)                       1
State University of New York (SUNY) at Buffalo        1
University of California, San Diego (UCSD)            1
Black Hills State University                          1
University of Virginia (UVA)                          1
Williams College                                      1
                                                     ..
University of North Carolina at Charlotte (UNCC)      1
Princeton University                                  1
University of California at Los Angeles (UCLA)        1
Virginia Commonwealth University (VCU)                1
Reed College                                          1
University of Arkansas - Monticello (UAM)             1
State University of New York (SUNY) at Oswego         1
Morehead State University                             1
Ohio State University (OSU)                           1
DePauw University                                     1
California State University, Long Beach (CSULB)       1
University of Michigan                                1
Davidson College                                      1
California State University, East Bay (CSUEB)         1
University of Wisconsin (UW) - Platteville            1
Evergreen State College                               1
California State University, Northridge (CSUN)        1
University of Missouri - Kansas City (UMKC)           1
New Mexico State University                           1
Boise State University (BSU)                          1
State University of New York (SUNY) at Plattsburgh    1
Western Washington University                         1
University of Wisconsin (UW) - Parkside               1
California Institute of Technology (CIT)              1
University of Maryland Baltimore County (UMBC)        1
Oklahoma State University                             1
University of Kentucky (UK)                           1
California State University, Sacramento (CSUS)        1
Southern Illinois University Carbondale               1
Wellesley College                                     1
Name: School Name, Length: 249, dtype: int64

In [29]:
College_Type_sort_df = College_Type_df.sort_values('School Name')
College_Type_sort_df

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
41,Amherst College,Liberal Arts,"$54,500.00","$107,000.00",NaN,"$84,900.00","$162,000.00",NaN
244,Appalachian State University,State,"$40,400.00","$69,100.00","$37,200.00","$50,400.00","$90,800.00","$115,000.00"
142,Arizona State University (ASU),State,"$47,400.00","$84,100.00","$44,600.00","$60,700.00","$114,000.00","$163,000.00"
28,Arizona State University (ASU),Party,"$47,400.00","$84,100.00","$44,600.00","$60,700.00","$114,000.00","$163,000.00"
259,Arkansas State University (ASU),State,"$38,700.00","$63,300.00","$33,600.00","$45,300.00","$83,900.00","$118,000.00"
133,Auburn University,State,"$45,400.00","$84,700.00","$45,400.00","$62,700.00","$109,000.00","$145,000.00"
264,Austin Peay State University,State,"$37,700.00","$59,200.00","$32,200.00","$40,500.00","$73,900.00","$96,200.00"
255,Ball State University (BSU),State,"$39,100.00","$64,500.00","$35,500.00","$48,200.00","$89,300.00","$128,000.00"
53,Bates College,Liberal Arts,"$47,300.00","$96,500.00",NaN,"$60,700.00","$162,000.00",NaN
104,Binghamton University,State,"$53,600.00","$95,900.00","$50,900.00","$71,200.00","$146,000.00","$201,000.00"
268,Black Hills State University,State,"$35,300.00","$43,900.00","$27,000.00","$32,200.00","$60,900.00","$87,600.00"
241,Boise State University (BSU),State,"$40,800.00","$69,500.00","$37,400.00","$48,700.00","$87,500.00","$110,000.00"
43,Bowdoin College,Liberal Arts,"$48,100.00","$107,000.00",NaN,"$74,600.00","$146,000.00",NaN
223,Bowling Green State University,State,"$39,800.00","$72,100.00","$38,200.00","$51,800.00","$101,000.00","$146,000.00"
92,Brown University,Ivy League,"$56,200.00","$109,000.00","$55,400.00","$74,400.00","$159,000.00","$228,000.00"
39,Bucknell University,Liberal Arts,"$54,100.00","$110,000.00","$62,800.00","$80,600.00","$156,000.00","$251,000.00"
96,Cal Poly San Luis Obispo,State,"$57,200.00","$101,000.00","$55,000.00","$74,700.00","$133,000.00","$178,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
117,"California State University (CSU), Chico",State,"$47,400.00","$88,100.00","$46,800.00","$62,800.00","$122,000.00","$154,000.00"
230,"California State University (CSU), Stanislaus",State,"$38,000.00","$71,400.00","$33,700.00","$50,500.00","$94,100.00","$121,000.00"
220,"California State University, Dominguez Hills (...",State,"$42,700.00","$72,100.00","$30,800.00","$47,000.00","$92,200.00","$132,000.00"
139,"California State University, East Bay (CSUEB)",State,"$49,200.00","$84,300.00","$46,000.00","$62,400.00","$115,000.00","$155,000.00"
121,"California State University, Fullerton (CSUF)",State,"$45,700.00","$87,000.00","$45,400.00","$62,500.00","$119,000.00","$158,000.00"
135,"California State University, Long Beach (CSULB)",State,"$45,100.00","$84,700.00","$47,400.00","$62,500.00","$113,000.00","$154,000.00"
171,"California State University, Northridge (CSUN)",State,"$45,500.00","$80,400.00","$44,500.00","$57,800.00","$108,000.00","$153,000.00"
155,"California State University, Sacramento (CSUS)",State,"$47,800.00","$82,400.00","$42,900.00","$59,600.00","$111,000.00","$154,000.00"
49,Carleton College,Liberal Arts,"$47,500.00","$103,000.00",NaN,"$69,400.00","$141,000.00",NaN
6,Carnegie Mellon University (CMU),Engineering,"$61,800.00","$111,000.00","$63,300.00","$80,100.00","$150,000.00","$209,000.00"
126,Clemson University,State,"$48,400.00","$86,000.00","$50,500.00","$61,800.00","$111,000.00","$150,000.00"
213,Cleveland State University,State,"$43,500.00","$73,100.00","$39,500.00","$51,600.00","$97,000.00","$137,000.00"
...,...,...,...,...,...,...,...,...
203,University of Wisconsin (UW) - Milwaukee,State,"$42,300.00","$74,600.00","$40,600.00","$54,000.00","$93,700.00","$123,000.00"
251,University of Wisconsin (UW) - Oshkosh,State,"$39,300.00","$66,400.00","$37,700.00","$49,700.00","$90,100.00","$138,000.00"
229,University of Wisconsin (UW) - Parkside,State,"$40,700.00","$71,400.00","$40,900.00","$53,100.00","$84,900.00","$119,000.00"
181,University of Wisconsin (UW) - Platteville,State,"$45,800.00","$78,500.00","$48,400.00","$61,200.00","$100,000.00","$139,000.00"
257,University of Wisconsin (UW) - Stevens Point,State,"$39,800.00","$64,000.00","$38,400.00","$45,100.00","$95,400.00","$128,000.00"
246,University of Wisconsin (UW) - Stout,State,"$43,600.00","$68,300.00","$40,900.00","$50,600.00","$91,600.00","$136,000.00"
199,University of Wisconsin (UW) - Whitewater,State,"$40,800.00","$75,500.00","$38,200.00","$53,500.00","$99,300.00","$150,000.00"
179,University of Wyoming (UW),State,"$44,500.00","$78,700.00","$41,500.00","$54,000.00","$105,000.00","$145,000.00"
76,Ursinus College,Liberal Arts,"$42,100.00","$80,000.00","$35,600.00","$54,300.00","$100,000.00","$160,000.00"
180,Utah State University,State,"$43,800.00","$78,700.00","$41,600.00","$55,400.00","$101,000.00","$132,000.00"
248,Utah Valley State College,State,"$42,400.00","$67,100.00","$27,000.00","$44,100.00","$84,900.00","$110,000.00"
56,Vassar College,Liberal Arts,"$46,000.00","$94,600.00",NaN,"$60,600.00","$123,000.00",NaN
245,Virginia Commonwealth University (VCU),State,"$42,000.00","$68,400.00","$37,400.00","$51,900.00","$100,000.00","$123,000.00"
13,Virginia Polytechnic Institute and State Unive...,Engineering,"$53,500.00","$95,400.00","$50,600.00","$71,400.00","$124,000.00","$163,000.00"
134,Washington State University (WSU),State,"$45,300.00","$84,700.00","$43,600.00","$59,000.00","$113,000.00","$162,000.00"
46,Washington and Lee University,Liberal Arts,"$53,600.00","$104,000.00",NaN,"$82,800.00","$146,000.00",NaN
195,Wayne State University,State,"$42,800.00","$76,100.00","$40,100.00","$56,200.00","$101,000.00","$139,000.00"
68,Wellesley College,Liberal Arts,"$42,800.00","$83,500.00",NaN,"$58,600.00","$125,000.00",NaN
12,Wentworth Institute of Technology,Engineering,"$53,000.00","$96,700.00","$55,200.00","$74,000.00","$117,000.00","$153,000.00"
52,"Wesleyan University (Middletown, Connecticut)",Liberal Arts,"$46,500.00","$97,900.00","$42,000.00","$62,500.00","$126,000.00","$215,000.00"
186,West Virginia University (WVU),State,"$43,100.00","$78,100.00","$39,700.00","$55,700.00","$106,000.00","$141,000.00"
35,West Virginia University (WVU),Party,"$43,100.00","$78,100.00","$39,700.00","$55,700.00","$106,000.00","$141,000.00"
250,Western Carolina University,State,"$36,900.00","$66,600.00","$39,000.00","$49,500.00","$94,400.00","$133,000.00"
208,Western Michigan University (WMU),State,"$42,300.00","$73,800.00","$40,100.00","$52,500.00","$103,000.00","$135,000.00"
200,Western Washington University,State,"$42,700.00","$75,400.00","$41,300.00","$56,700.00","$99,200.00","$119,000.00"
75,Whitman College,Liberal Arts,"$43,500.00","$80,100.00",NaN,"$64,800.00","$111,000.00",NaN
50,Williams College,Liberal Arts,"$51,700.00","$102,000.00",NaN,"$76,400.00","$143,000.00",NaN
78,Wittenberg University,Liberal Arts,"$39,200.00","$78,200.00",NaN,"$54,100.00","$131,000.00",NaN
5,Worcester Polytechnic Institute (WPI),Engineering,"$61,000.00","$114,000.00","$80,000.00","$91,200.00","$137,000.00","$180,000.00"
88,Yale University,Ivy League,"$59,100.00","$126,000.00","$58,000.00","$80,600.00","$198,000.00","$326,000.00"

In [10]:
Region_df.head()

,School Name,Region,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Stanford University,California,"$70,400.00","$129,000.00","$68,400.00","$93,100.00","$184,000.00","$257,000.00"
1,California Institute of Technology (CIT),California,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,California,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"University of California, Berkeley",California,"$59,900.00","$112,000.00","$59,500.00","$81,000.00","$149,000.00","$201,000.00"
4,Occidental College,California,"$51,900.00","$105,000.00",NaN,"$54,800.00","$157,000.00",NaN

In [12]:
Region_df.count()

School Name                          320
Region                               320
Starting Median Salary               320
Mid-Career Median Salary             320
Mid-Career 10th Percentile Salary    273
Mid-Career 25th Percentile Salary    320
Mid-Career 75th Percentile Salary    320
Mid-Career 90th Percentile Salary    273
dtype: int64

In [18]:
Region_df['School Name'].value_counts()

University of Colorado - Boulder (UCB)                1
Cooper Union                                          1
Duquesne University                                   1
State University of New York (SUNY) at Buffalo        1
Michigan State University (MSU)                       1
Pomona College                                        1
Georgia State University                              1
Tusculum College                                      1
Texas Christian University (TCU)                      1
St. Cloud State University                            1
Pace University                                       1
Auburn University                                     1
University of South Carolina                          1
University of Wisconsin (UW) - Whitewater             1
Yale University                                       1
Columbia University                                   1
North Carolina State University (NCSU)                1
University of Notre Dame                              1
University of New Hampshire (UNH)                     1
University of California, San Diego (UCSD)            1
Black Hills State University                          1
University of Virginia (UVA)                          1
Wentworth Institute of Technology                     1
University of California, Santa Barbara (UCSB)        1
Stevens Institute of Technology                       1
University of Nebraska                                1
Providence College                                    1
University of Texas at El Paso (UTEP)                 1
Idaho State University                                1
University of New Haven                               1
                                                     ..
University of Arkansas - Monticello (UAM)             1
Baylor University                                     1
Reed College                                          1
University of Tulsa                                   1
Virginia Commonwealth University (VCU)                1
Princeton University                                  1
University of Texas (UT) - Austin                     1
Austin Peay State University                          1
University of Oklahoma                                1
Rice University                                       1
University of California at Los Angeles (UCLA)        1
Oklahoma State University                             1
Western Washington University                         1
Florida Metropolitan University (FMU)                 1
Widener University                                    1
California State University, Long Beach (CSULB)       1
California Institute of Technology (CIT)              1
South Dakota School of Mines & Technology             1
West Virginia University (WVU)                        1
University of Wisconsin (UW) - Parkside               1
Fairleigh Dickinson University                        1
Evergreen State College                               1
University of Illinois at Urbana-Champaign (UIUC)     1
State University of New York (SUNY) at Plattsburgh    1
Boise State University (BSU)                          1
Wesleyan University (Middletown, Connecticut)         1
State University of New York (SUNY) at Fredonia       1
New Mexico State University                           1
University of Missouri - Kansas City (UMKC)           1
University of California, Santa Cruz (UCSC)           1
Name: School Name, Length: 320, dtype: int64