In [1]:
import pandas as pd
import numpy as np
import matplotlib

In [5]:
#Read the income return on the type of degree CSV
Degrees_Payback = pd.read_csv('degrees-that-pay-back.csv')
Degree_df = pd.DataFrame(Degrees_Payback)

#Ready the salary averages based on college type
Salary_By_College = pd.read_csv('salaries-by-college-type.csv')
College_Salary_df = pd.DataFrame(Salary_By_College)

#Read the income based upon region
Salary_By_Region = pd.read_csv('salaries-by-region.csv')
Region_Salary_df = pd.DataFrame(Salary_By_Region)

In [6]:
Degree_df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,"$46,000.00","$77,100.00",67.6,"$42,200.00","$56,100.00","$108,000.00","$152,000.00"
1,Aerospace Engineering,"$57,700.00","$101,000.00",75.0,"$64,300.00","$82,100.00","$127,000.00","$161,000.00"
2,Agriculture,"$42,600.00","$71,900.00",68.8,"$36,300.00","$52,100.00","$96,300.00","$150,000.00"
3,Anthropology,"$36,800.00","$61,500.00",67.1,"$33,800.00","$45,500.00","$89,300.00","$138,000.00"
4,Architecture,"$41,600.00","$76,800.00",84.6,"$50,600.00","$62,200.00","$97,000.00","$136,000.00"

In [14]:
Degree_df.describe

<bound method NDFrame.describe of                      Undergraduate Major Starting Median Salary  \
0                             Accounting             $46,000.00
1                  Aerospace Engineering             $57,700.00
2                            Agriculture             $42,600.00
3                           Anthropology             $36,800.00
4                           Architecture             $41,600.00
5                            Art History             $35,800.00
6                                Biology             $38,800.00
7                    Business Management             $43,000.00
8                   Chemical Engineering             $63,200.00
9                              Chemistry             $42,600.00
10                     Civil Engineering             $53,900.00
11                        Communications             $38,100.00
12                  Computer Engineering             $61,400.00
13                      Computer Science             $55,900.00
14                          Construction             $53,700.00
15                      Criminal Justice             $35,000.00
16                                 Drama             $35,900.00
17                             Economics             $50,100.00
18                             Education             $34,900.00
19                Electrical Engineering             $60,900.00
20                               English             $38,000.00
21                                  Film             $37,900.00
22                               Finance             $47,900.00
23                              Forestry             $39,100.00
24                             Geography             $41,200.00
25                               Geology             $43,500.00
26                        Graphic Design             $35,700.00
27            Health Care Administration             $38,800.00
28                               History             $39,200.00
29                 Hospitality & Tourism             $37,800.00
30                Industrial Engineering             $57,700.00
31           Information Technology (IT)             $49,100.00
32                       Interior Design             $36,100.00
33               International Relations             $40,900.00
34                            Journalism             $35,600.00
35  Management Information Systems (MIS)             $49,200.00
36                             Marketing             $40,800.00
37                                  Math             $45,400.00
38                Mechanical Engineering             $57,900.00
39                                 Music             $35,900.00
40                               Nursing             $54,200.00
41                             Nutrition             $39,900.00
42                            Philosophy             $39,900.00
43                   Physician Assistant             $74,300.00
44                               Physics             $50,300.00
45                     Political Science             $40,800.00
46                            Psychology             $35,900.00
47                              Religion             $34,100.00
48                             Sociology             $36,500.00
49                               Spanish             $34,000.00

   Mid-Career Median Salary  \
0                $77,100.00
1               $101,000.00
2                $71,900.00
3                $61,500.00
4                $76,800.00
5                $64,900.00
6                $64,800.00
7                $72,100.00
8               $107,000.00
9                $79,900.00
10               $90,500.00
11               $70,000.00
12              $105,000.00
13               $95,500.00
14               $88,900.00
15               $56,300.00
16               $56,900.00
17               $98,600.00
18               $52,000.00
19              $103,000.00
20               $64,700.00
21               $68,500.00
22               $88,300.00
23               $62,600.00
24               $65,500.00
25               $79,500.00
26               $59,800.00
27               $60,600.00
28               $71,000.00
29               $57,500.00
30               $94,700.00
31               $74,800.00
32               $53,200.00
33               $80,900.00
34               $66,700.00
35               $82,300.00
36               $79,600.00
37               $92,400.00
38               $93,600.00
39               $55,000.00
40               $67,000.00
41               $55,300.00
42               $81,200.00
43               $91,700.00
44               $97,300.00
45               $78,200.00
46               $60,400.00
47               $52,000.00
48               $58,200.00
49               $53,100.00

    Percent change from Starting to Mid-Career Salary  \
0                                                67.6
1                                                75.0
2                                                68.8
3                                                67.1
4                                                84.6
5                                                81.3
6                                                67.0
7                                                67.7
8                                                69.3
9                                                87.6
10                                               67.9
11                                               83.7
12                                               71.0
13                                               70.8
14                                               65.5
15                                               60.9
16                                               58.5
17                                               96.8
18                                               49.0
19                                               69.1
20                                               70.3
21                                               80.7
22                                               84.3
23                                               60.1
24                                               59.0
25                                               82.8
26                                               67.5
27                                               56.2
28                                               81.1
29                                               52.1
30                                               64.1
31                                               52.3
32                                               47.4
33                                               97.8
34                                               87.4
35                                               67.3
36                                               95.1
37                                              103.5
38                                               61.7
39                                               53.2
40                                               23.6
41                                               38.6
42                                              103.5
43                                               23.4
44                                               93.4
45                                               91.7
46                                               68.2
47                                               52.5
48                                               59.5
49                                               56.2

   Mid-Career 10th Percentile Salary Mid-Career 25th Percentile Salary  \
0                         $42,200.00                        $56,100.00
1                         $64,300.00                        $82,100.00
2                         $36,300.00                        $52,100.00
3                         $33,800.00                        $45,500.00
4                         $50,600.00                        $62,200.00
5                         $28,800.00                        $42,200.00
6                         $36,900.00                        $47,400.00
7                         $38,800.00                        $51,500.00
8                         $71,900.00                        $87,300.00
9                         $45,300.00                        $60,700.00
10                        $63,400.00                        $75,100.00
11                        $37,500.00                        $49,700.00
12                        $66,100.00                        $84,100.00
13                        $56,000.00                        $74,900.00
14                        $56,300.00                        $68,100.00
15                        $32,200.00                        $41,600.00
16                        $36,700.00                        $41,300.00
17                        $50,600.00                        $70,600.00
18                        $29,300.00                        $37,900.00
19                        $69,300.00                        $83,800.00
20                        $33,400.00                        $44,800.00
21                        $33,900.00                        $45,500.00
22                        $47,200.00                        $62,100.00
23                        $41,000.00                        $49,300.00
24                        $40,000.00                        $50,000.00
25                        $45,000.00                        $59,600.00
26                        $36,000.00                        $45,500.00
27                        $34,600.00                        $45,600.00
28                        $37,000.00                        $49,200.00
29                        $35,500.00                        $43,600.00
30                        $57,100.00                        $72,300.00
31                        $44,500.00                        $56,700.00
32                        $35,700.00                        $42,600.00
33                        $38,200.00                        $56,000.00
34                        $38,400.00                        $48,300.00
35                        $45,300.00                        $60,500.00
36                        $42,100.00                        $55,600.00
37                        $45,200.00                        $64,200.00
38                        $63,700.00                        $76,200.00
39                        $26,700.00                        $40,200.00
40                        $47,600.00                        $56,400.00
41                        $33,900.00                        $44,500.00
42                        $35,500.00                        $52,800.00
43                        $66,400.00                        $75,200.00
44                        $56,000.00                        $74,200.00
45                        $41,200.00                        $55,300.00
46                        $31,600.00                        $42,100.00
47                        $29,700.00                        $36,500.00
48                        $30,700.00                        $40,400.00
49                        $31,000.00                        $40,000.00

   Mid-Career 75th Percentile Salary Mid-Career 90th Percentile Salary
0                        $108,000.00                       $152,000.00
1                        $127,000.00                       $161,000.00
2                         $96,300.00                       $150,000.00
3                         $89,300.00                       $138,000.00
4                         $97,000.00                       $136,000.00
5                         $87,400.00                       $125,000.00
6                         $94,500.00                       $135,000.00
7                        $102,000.00                       $147,000.00
8                        $143,000.00                       $194,000.00
9                        $108,000.00                       $148,000.00
10                       $115,000.00                       $148,000.00
11                        $98,800.00                       $143,000.00
12                       $135,000.00                       $162,000.00
13                       $122,000.00                       $154,000.00
14                       $118,000.00                       $171,000.00
15                        $80,700.00                       $107,000.00
16                        $79,100.00                       $153,000.00
17                       $145,000.00                       $210,000.00
18                        $73,400.00                       $102,000.00
19                       $130,000.00                       $168,000.00
20                        $93,200.00                       $133,000.00
21                       $100,000.00                       $136,000.00
22                       $128,000.00                       $195,000.00
23                        $78,200.00                       $111,000.00
24                        $90,800.00                       $132,000.00
25                       $101,000.00                       $156,000.00
26                        $80,800.00                       $112,000.00
27                        $78,800.00                       $101,000.00
28                       $103,000.00                       $149,000.00
29                        $81,900.00                       $124,000.00
30                       $132,000.00                       $173,000.00
31                        $96,700.00                       $129,000.00
32                        $72,500.00                       $107,000.00
33                       $111,000.00                       $157,000.00
34                        $97,700.00                       $145,000.00
35                       $108,000.00                       $146,000.00
36                       $119,000.00                       $175,000.00
37                       $128,000.00                       $183,000.00
38                       $120,000.00                       $163,000.00
39                        $88,000.00                       $134,000.00
40                        $80,900.00                        $98,300.00
41                        $70,500.00                        $99,200.00
42                       $127,000.00                       $168,000.00
43                       $108,000.00                       $124,000.00
44                       $132,000.00                       $178,000.00
45                       $114,000.00                       $168,000.00
46                        $87,500.00                       $127,000.00
47                        $70,900.00                        $96,400.00
48                        $81,200.00                       $118,000.00
49                        $76,800.00                        $96,400.00  >

In [7]:
College_Salary_df.head()

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00","$76,800.00","$99,200.00","$168,000.00","$220,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00","$66,800.00","$94,300.00","$143,000.00","$190,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",NaN,"$80,200.00","$142,000.00",NaN

In [16]:
Salary_By_Type = College_Salary_df.loc[College_Salary_df["School Type"] == "Party",:]
Salary_By_Type.head()

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
19,University of Illinois at Urbana-Champaign (UIUC),Party,"$52,900.00","$96,100.00","$48,200.00","$68,900.00","$132,000.00","$177,000.00"
20,"University of Maryland, College Park",Party,"$52,000.00","$95,000.00","$50,400.00","$68,300.00","$126,000.00","$166,000.00"
21,"University of California, Santa Barbara (UCSB)",Party,"$50,500.00","$95,000.00","$51,300.00","$71,200.00","$129,000.00","$173,000.00"
22,University of Texas (UT) - Austin,Party,"$49,700.00","$93,900.00","$50,100.00","$67,400.00","$129,000.00","$188,000.00"
23,State University of New York (SUNY) at Albany,Party,"$44,500.00","$92,200.00","$47,000.00","$63,100.00","$135,000.00","$209,000.00"

In [8]:
Region_Salary_df.head()

,School Name,Region,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Stanford University,California,"$70,400.00","$129,000.00","$68,400.00","$93,100.00","$184,000.00","$257,000.00"
1,California Institute of Technology (CIT),California,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,California,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"University of California, Berkeley",California,"$59,900.00","$112,000.00","$59,500.00","$81,000.00","$149,000.00","$201,000.00"
4,Occidental College,California,"$51,900.00","$105,000.00",NaN,"$54,800.00","$157,000.00",NaN